@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-border {
    border: 2px solid black; /* Add your desired border style */
  }
  
body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}


.react-calendar-heatmap .react-calendar-heatmap__month text {
  fill: white; /* Month labels color */
}

.react-calendar-heatmap .react-calendar-heatmap__week > rect {
  width: 20px;  /* Increase width of cells */
  height: 20px; /* Increase height of cells */
}

.color-empty {
  fill: #ebedf0;
}
.color-gitlab-1 {
  fill: #c6e48b;
}
.color-gitlab-2 {
  fill: #7bc96f;
}
.color-gitlab-3 {
  fill: #239a3b;
}
.color-gitlab-4 {
  fill: #196127;
}